scipy==1.7.3
gensim==3.8.2; python_version == '2.7'
gensim==4.1.2; python_version == '3.6'
gensim==4.2.0; python_version == '3.7'
gensim==4.3.1; python_version >= '3.8'
scikit-learn>=0.20,<=1.0.2
tensorflow>=2.1,<=2.11.1
tensorflow-hub==0.7.0
grpcio==1.39.0; python_version <= '3.6'
grpcio==1.54.0; python_version >= '3.7'
